@using SportsData.Nhl.Query;
@using SportsData.Nhl;
@using SportsData.Areas.Nhl.Models;

@model List<NhlPlayerStatsBioSkaterViewModel>

@{
    ViewBag.Title = "Nhl Draft";
    Layout = "~/Areas/Nhl/Views/Shared/_NhlLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="draft_info" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Draft Year</th>
            <th>Seasons Played</th>
            <th>Avg Games Per Season</th>
            <th>Total Games Played</th>
        </tr>
    </thead>
    <tbody>
        @foreach (NhlPlayerStatsBioSkaterViewModel player in Model)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.DraftYear</td>
                <td>@player.SeasonsPlayed</td>
                <td>@player.AvgGamesPerSeason</td>
                <td>@player.TotalGamesPlayed</td>
            </tr>
        }
    </tbody>
</table>

