@using SportsData.Models;

@model List<FacebookSnapshot>

@{
    ViewBag.Title = "Facebook Likes";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

<form id="SelectSeason" method="post" action="~/social/facebook">

    <input type="submit" name="ShowResults" value="Show Results" />

    @{       
        if (ViewBag.GetLatest == true)
        {
            <input type="submit" name="Update" value="Get Latest" />
        }  
    }

</form>

<br />

<table>
    @{ViewBag.NumberOfColumns = "8";}
    <tr>
        <th colspan="@ViewBag.NumberOfColumns">@ViewBag.Title (@Model.Count results)</th>
    </tr>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Account</th>
        <th>Total Likes</th>
        <th>People Talking About This</th>
        <th>Most Popular Week</th>
        <th>Most Popular City</th>
        <th>Most Popular Age Group</th>
    </tr>

    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="@ViewBag.NumberOfColumns">No results found</td>
        </tr>
    }

    @foreach (FacebookSnapshot snapshot in Model)
    {    
        <tr>
            <td>@snapshot.DateOfSnapshot.ToShortDateString()</td>
            <td>@snapshot.FacebookAccount.FriendlyName</td>
            <td>@snapshot.FacebookAccountId</td>

            @{
                if (snapshot.TotalLikes <= 0) // highlight the cell
                {
                        <td style='background-color: red'>@snapshot.TotalLikes</td>
                }
                else
                {                   
                        <td>@snapshot.TotalLikes</td>
                }
            }

            @{
                if (snapshot.PeopleTalkingAboutThis <= 0) // highlight the cell
                {
                        <td style='background-color: red'>@snapshot.PeopleTalkingAboutThis</td>
                }
                else
                {                   
                        <td>@snapshot.PeopleTalkingAboutThis</td>
                }
            }

           <td>@snapshot.MostPopularWeek.ToShortDateString()</td>
           <td>@snapshot.MostPopularCity</td>
           <td>@snapshot.MostPopularAgeGroup</td>
        </tr>
    }

</table>

